.header {
  width: 100%;
  /*o rem é o melhor, não use px, porque ele não ajuda na responsividade
  o plugin 'px to rem' converte medida em px para rem automaticamente, basta selecionar a medida e selecionar ctrl + z
  */
  padding: 1rem 1.5rem;

  background-color: var(--primary-color);

  /*vai deixar a imagem responsiva*/
  display: flex;

  /*vai alinhar todos os itens na horizontal, se passar 'col' vai alinhar na vertical*/
  flex-direction: row;

  /*alinha os itens na horizontal no início da flex box*/
  justify-content: flex-start;

  /*alinha os itens na vertical no centro*/
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*fazendo uma media query
quando o tamanho do dispositivo for no máximo 768px a logo vai ficar no meio
*/
@media screen and (max-width: 768px) {
 .header {
  justify-content: center;
 }
}
